<div class="card">
  <div class="card-body">
    <h5 class="titulo">LISTAR TARJETA</h5>
    <table class="table">
      <thead class="fw-bold">
        <tr>
          <th>Titular</th>
          <th>Num. Tarjeta</th>
          <th>Fecha Caduc.</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cuentasBancarias">
          <td>{{card.titular}}</td>
          <td>{{card.numeroTarjeta}}</td>
          <td>{{card.fechaCaducidad}}</td>
          <td (click)="editarTarjeta(card)" ><i class="fa-solid fa-pencil"></i></td>
          <td (click)="eliminar(card._id)" ><i class="fa-solid fa-trash"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
